# general settings
path:
{{ path | to_nice_yaml | indent(2, True) }}

filebeat:
  registry_file: registry_in
  config:
    {{ filebeat_inputs_name }}: 
      enabled: True
      path: inputs.d/*.yml
      reload:
        enabled: True
        period: 10s

# output settings
output.console:
  codec.format:
    string: '%{[source]}||%{[logtype]}||%{[index_name]}||%{[message]}'

# logging settings
logging.level: info
logging.to_syslog: {{ filebeat_logging_to_syslog }}
logging.to_files: {{ filebeat_logging_to_files }}
logging.files:
  path: {{ path.logs }}
  name: filebeat-in.log
  rotateeverybytes: {{ filebeat_rotateeverybytes }}
  keepfiles: {{ filebeat_keepfiles }}
  
